# Database URL for the PostgreSQL server
DB_URL="postgres://username:password@localhost:5432/database_name?sslmode=disable"

# Database driver used by the application
DB_DRIVER="postgres"

# Address used by the development server
SERVE_ADDRESS=0.0.0.0:8080